
@font-face {
	font-family: 'Inter';
	src: url('Inter-SemiBold.woff2') format('woff2'), url('Inter-SemiBold.woff') format('woff');
	font-weight: 600;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	src: url('Inter-Bold.woff2') format('woff2'), url('Inter-Bold.woff') format('woff');
	font-weight: 700;
	font-display: swap;
}

html {
    position: relative;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  .page {
    min-width: 320px;
    min-height: 100vh;
    font-family: Inter, sans-serif;
    background-color: #F2F0F9;
    margin: 32px 0;
}
  
  
  img, svg {
    max-width: 100%;
    max-height: 100%;
    height: auto;
  }
  
  
  button {
    padding: 0;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  h1,
  h2,
  h3,
  p,
  figure,
  fieldset {
    margin: 0;
  }
  
  iframe {
    border: none;
  }

  fieldset {
    border: none;
  }
  
  /* Доступно скрываю элементы */
  .visually-hidden {
    position: fixed;
    transform: scale(0);
  }

  .page__wrapper {
    max-width: 580px;
    margin: 0 auto;
  }

  .page__title {
    font-weight: 700;
    color: #6E6893;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.1 em;
    text-transform: uppercase;
    margin: 0 0 43px;
  }