.add-product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 32px;
}

.add-product__content {
    padding: 28px;
}

.add-product__text {
    display: block;
    color: #6E6893;
    font-weight: 600px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0 0 5px 10px;
}

.add-product__input {
    border: none;
    margin: 0 0 12px;
    width: 524px;
    height: 40px;
    background-color: #F4F2FF;
    color: #000;
    padding: 14px;
    border-radius: 8px;
}

.add-product__input:last-child {
    margin: 0;
}

.add-product__input-discount {
    width: 474px;
    background-color: #eee;
    margin-left: -20px;
}

.add-product__input-textarea {
    height: 112px;
    resize: none;
}

/* стилизация чекбокса */

.checkbox {
    position: relative;
    display: block;
    font-size: 20px;
    line-height: 40px;
    padding-left: 70px;
}

.add-product__checkbox {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: -70px;
}

.add-product__checkbox:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #F4F2FF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.add-product__checkbox:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    height: 10px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
}

.add-product__checkbox:focus-visible {
    outline: none
}

.add-product__checkbox:checked:after {
    opacity: 1
}

.add-product__checkbox:focus:before {
    box-shadow: 0px 0px 10px rgba(113, 0, 227, 0.5);
}

.add-product__checkbox:hover:not(:disabled):before {
    box-shadow: 0px 0px 10px rgba(0, 113, 227, 0.5);
}

.add-product__checkbox:disabled:before {
    background-color: #F4F2FF;
}

.button {
    width: 200px;
    height: 39px;
    background-color: #6D5BD0;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
    border: none;
    float: right;
    margin: 0 28px 0 0;
    display: block;
}