.add-product {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    margin: 0 0 32px;
    display: block;
}

.add-product__fieldset {
    padding: 28px;
}

.add-product__label {
    color: #6E6893;
    font-weight: 600px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin: 0 0 5px 10px;
}

.add-product__input {
    border: none;
    margin: 0 0 12px;
    width: 524px;
    height: 40px;
    background-color: #f4f2ff;
    color: #000;
    padding: 14px;
    border-radius: 8px;
}

.add-product__input_small-width {
    margin-left: -20px;
    width: 474px;
    background-color: #f4f2ff;
}

.add-product__input_small-width-disabled {
    margin-left: -20px;
    width: 474px;
    background-color: #eee;
}

.add-product__input_textarea {
    height: 112px;
    resize: none;
}

/* стилизация чекбокса */

.checkbox {
    position: relative;
    display: block;
    padding-left: 70px;
  }

  .checkbox__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: -70px;
  }

  .checkbox__input:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 40px;
    height: 40px;
    background-color: #f4f2ff;;
    border-radius: 6px;
  }
  
  .checkbox__input:after {
    content: '';
    position: absolute;
    top: 12px;
    left: 10px;
    width: 20px;
    height: 10px;
    border: 3px solid black;
    border-top: none;
    border-right: none;
    opacity: 0;
    transform: rotate(-45deg);
  } 

  .checkbox__input:checked:after {
    opacity: 1
  }

.button {
    width: 200px;
    height: 39px;
    background-color: #6D5BD0;
    color: #fff;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 6px;
    border: none;
    margin: 0 28px 0 0;
    display: block;
    float: right;
}